<template name="landing">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<div class="landing-title">
					<h2>Interactive Query Tool For Patient Datasets</h2>
					<br>
					<button class="btn btn-get-started">Get Started</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns landing-feature">
				<i class="ion-ios-flask-outline"></i>
				<p>Search tools across live clinical data</p>
			</div>
			<div class="four columns landing-feature">
				<i class="ion-ios-pulse"></i>
				<br>
				<p>Generate real time visualizations for data reports</p>
			</div>
			<div class="four columns landing-feature disabled">
				<i class="ion-ios-toggle-outline"></i>
				<br>
				<p>Compare multiple patient subgroups in real time</p>
			</div>
		</div>
	</div>
</template>
